form {
    margin: 0 auto;
    width: 400px;
    padding: 1em;
    border: 1px solid #ccc;
    border-radius: 1em;
  }
  
  ul {
    list-style: none;
    padding: 0;
    margin: 0;
  }
  
  form li + li {
    margin-top: 1em;
  }
  
  label {
    display: inline-block;
    width: 90px;
    text-align: right;
  }
  
  input,
  textarea {
    font: 1em sans-serif;
    width: 300px;
    box-sizing: border-box;
    border: 1px solid #999;
  }
  
  input:focus,
  textarea:focus {
    border-color: #000;
  }
  
  textarea {
    vertical-align: top;
    height: 5em;
  
    resize: vertical;
  }
  
  .button {
    padding-left: 90px;
  }
  
  button {
    margin-left: 0.5em;
  }

  body {
    background-color: #f8f9fa;
    margin: 0;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    color: #212529;
}

nav {
    color: white;
    display: flex;
    background-color: #0033ff;
    align-items: center;
    padding: 1rem;
    position: sticky;
    top: 0;
    z-index: 1000;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

a{
    text-align: #0033ff;
    
    text-decoration: none;
    color: inherit;
    transition: color 0.3s;
}
h1 {
    margin: 0.5em 0;
    color: #0033ff;
    font-size: 3rem;
    text-align: center;
}
body{
    background-image: url("./image/connexion.png");
    background-position: center; 
    background-repeat: no-repeat;
}